@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{    
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right, #243F4F, black, #243F4F);
}
header{
    background: linear-gradient(to right, black, #243F4F, black, #243F4F, black); 
}
nav ul li a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-family: 'Staatliches', cursive;
    font-size: 20px; 
}
nav ul li a:hover{
    color: #0d6efd;  
}
h1{
    font-family: 'Bangers', cursive;    
    font-size: 70px;
    font-weight: 500; 
    text-align: center;
    width: 100%;  
    padding: 20px 0;  
    margin: 0 auto; 
    background: linear-gradient(to right, black, #243F4F, black);    
}  
h2{
    font-family: 'Bangers', cursive; 
    background: linear-gradient(to left, #243F4F, black, #243F4F);   
    font-weight: bold;
    font-size: 60px;
    font-weight: 500; 
    text-align: center;   
    background-size: 100%;
    padding: 10px 0;
    margin: 0%;
}
main{
    font-family: 'Boogaloo', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
    font-weight: 100;
}
h3{
    font-size: 40px;
    text-align: center;  
    text-decoration: underline;
    padding: 10px 0;
}
h4{
    color: white; 
    font-size: 20px; 
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    padding: 10px 0px;
    margin: 0px auto;
}
main section a{
    font-weight: bold;
    color: blue;       
      
}
main section a:active{
    background-color: black;   
}
p{
    text-align: center;
    font-size: 25px;
}

/* animations */
@keyframes animate_h1{
    0%{background-color: black; width: 100%;}
    50%{background-color: #141C0C; width: 50%;}
    100%{background-color: #262626; width: 100%;}    
}
h1{
    animation-name: animate_h1;
    animation-iteration-count:unset;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-delay: 1s;
}
footer:hover{
    width: 100%;
    background: linear-gradient(to right, black, #243F4F, black);   
    cursor: pointer;
    transition: all 2.5s;
}

/* end animation */
/* class - index */

#img1{
    height: 800px;
}
#img2{
    height: 800px;
}
#img3{
    heigh: 800px;
}
.img3{
    height: 800px;
}
#img4{
    height: 800px;
}
.navbar_toggler_icon{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../img/botonHamburguesa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.section__peliculas{ 
    display: flex;
    flex-direction: column;   
    align-items: center;
    line-height: 1.6;      
    margin: auto;      
    /*background: linear-gradient(to right, black, #243F4F); */
}
.main__div{ 
    color: white;   
    height: 150px;    
    padding: 10px 30px;
    margin: 10px 20px;    
    display: flex;    
    /* flex-flow: row nowrap; (forma abreviada de colocar flex-direction y flex-wrap */   
    justify-content: space-around;
    background: linear-gradient(to left, black, #243F4F, black);     
}
.pie{      
    height: 100%;
    text-align: center;
          
}
.pie__icon--sm{
    width: 40px;
    margin: 10px 0px;   
}
/* end classes for index mostly but also for the others pages*/

/* begin classes for recitales */

.section__recitales{
    background: linear-gradient(to left, #243F4F, black, #243F4F); 
    line-height: 1.6;    
    margin: auto;
}

/* end classes for recitales */

/* beggin classes for cine */

.color__font{
    background: linear-gradient(to left, black, #243F4F, black); 
    margin: 70px 0;
    padding: 20px;
}
.main__div--cine{   
    width: 100%;
    display: flex;
    justify-content: center;
}
.section__h3{     
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* end classes for cine */

/* beggin classes for contacto */

.d_flex{
    display: flex;
    justify-content: center;    
    padding: 10px 10px;   
}
.bg-color_h2{
    background:none;
    text-align: justify;
}

/* end classes for contacto */

/* @media */
@media only screen and (max-width: 320px){
    #nav_img{
        width: 200px;        
    }
    h1{
        font-size: 40px;
        padding: 10pxs  ;
    }
    h2{
        font-size: 20px;
        text-align: center;
        
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 12px;
    }
    p{
        font-size: 15px;
    }
    label{
        font-size: 15px;
        text-align: center;
    }  
    input{
        font-size: 20px;
    }   
    
    .section_form-iframe{
        display: grid;
        text-align: justify;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items:auto;
        
        grid-template-areas: 
        "form"
        "iframe";
    } 
    .section__form{
        grid-area: form;        
        width: 100%;      
    }   
    .section__iframe{
        grid-area: iframe;
        width: 100%;   
        justify-self: start;  
    }

   
}
