body {   
    color: $fontColor;
  //map-get
   background: map-get($map: $bgColor, $key: 'main');
}
h3{
    font-size: $sizeH3;
    text-align: $alignText;  
    text-decoration: none;
    padding: 10px 0;
}
h4{
    font-family: $h4Font;
    font-size: $sizeH4;     
    text-align: $alignText;
    padding: 10px 0px;
    margin: 0px auto;
}
p{
    text-align: $alignText;
    font-size: $sizeP;    
}