//colors
$fontColor: white;
$aquiColor: blue;
$black: black; 
$verde: #243F4F;
//map
$bgColor: (
    'main': linear-gradient(to right, #243F4F, black, #243F4F),
    'hover': linear-gradient(to right, black, #243F4F, black), 
    'div': linear-gradient(to left, black, #243F4F, black),
);
/*$sizesMobile: (
    'sizeH1': 40px,
    'sizeH2': 20px, 
    'sizeH4': 12px,
    'sizeP': 15px,  
)*/

$imgSize: 800px;
$width-100: 100%;
$alignText: center;
$margin: auto; 





