@import "fonts";
@import "vars";
@import "commons";
@import "navBar";
@import "footer";
@import "mixins";


*{
    margin: 0;
    padding: 0;
}
main{
    font-family: $mainFont;
    text-transform: uppercase; 
    section{       
        a{
            font-weight: bold;
            color: blue;  
            &:active{
                background-color: $black;  
            } 
        }
    }
}

// animations
@keyframes animate_h1{
    0%{background-color: black; width: $width-100;}
    50%{background-color: #141C0C; width: 50%;}
    100%{background-color: #262626; width: $width-100;}    
}
h1{
    animation-name: animate_h1;
    animation-iteration-count:unset;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-delay: 1s;
}

// end animations

//class for index
.img_size{
    height: $imgSize;
}

.main__div{        
    height: 150px;    
    padding: 10px 30px;
    margin: 10px 20px;    
    display: flex; 
    justify-content: space-around;
   //map-get
   background: map-get($map: $bgColor, $key: 'div');
}


